.pokemon {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border: 10px solid white;
}

.pokemon img {
    width: 200px;
    border: 6px solid white;
    background-color: hsl(60, 100%, 80%);
}

.pokemon a {
    background-color: hsl(60, 100%, 80%);
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
}

.pokemon a:link,
.pokemon a:visited,
.pokemon a:active {
    text-decoration: none;
    color: black;
}

h1 a:link {
    text-decoration: none;
    color: yellow;
    background-color: rgb(19, 19, 122);
    padding: 10px 20px;
}

h1 a:active {
    text-decoration: none;
    color: yellow;
}

h1 a:visited {
    text-decoration: none;
    color: yellow;
    background-color: rgb(19, 19, 122);
}

h1 {
    color: yellow;
    font-size: 48px;
    margin: 24px;
    text-align: center;
    margin-bottom: 80px;
}


body {
    background-color: hsl(0, 100%, 50%);
    margin-left: 150px;
    margin-right: 150px;
}

body h2 {
    font-size: 36px;
    text-align: center;
}

.pokemon-details img {
    display: block;
    width: 200px;
    border: 6px solid white;
    background-color: hsl(60, 100%, 80%);
    position: relative;
}

.pokemon-details figure {
    display: flex;
    justify-content: center;
}

.pokemon-details figcaption {
    position: absolute;
    top: 130px;
    font-size: 24px;
    font-weight: bolder;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-top: 6px solid white;
    background-color: hsl(60, 100%, 80%);
}

.pokemon-details {
    display: block;
    align-items: center;
}

.abilities {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

.abilities li {
    text-align: center;
    border: 3px solid black;
    background-color: hsl(0, 0%, 70%);
}

.ability-name {
    font-size: 24px;
    color: white;
}

.ability-short-description {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.spinner {
    width: 150px;
    margin-left: 45%;
}

.hidden {
    display: none;
}